   * {
       padding: 0px;
       margin: 0px;
   }

   .control {
       background-color: #3B5998;
       width: 100%;
       height: 90px;
   }

   .control-align {
       width: 980px;
       height: 300px;
       margin-left: auto;
       margin-right: auto;

   }

   .img-control {
       float: left;
       margin-left: 10px;
       height: 90px;
   }

   .img-control img {
       width: 200px;
       height: 120px;
       margin-top: 0px;
       margin-bottom: 50px;



   }

   .login {
       float: right;
       font-family: arial;
       margin-top: 20px;

   }

   .login p {
       margin-left: 10px;
       font-size: 12px;
   }

   .inputtxt {
       width: 150px;
       height: 20px;
       margin-left: 10px;
   }

   .btn {
       background-color: blue;
       color: white;
       font-family: arial;
       padding: 5px;
       border: none;
       border-radius: 03px;
       margin-left: 05px;
   }

   .login a {
       color: white;
       text-decoration: none;
       font-size: 12px;
   }

   .content-control {
       background-color: #DEE2EE;
       width: 100%;
       height: 500px;
       margin-left: auto;
       margin-right: auto;
   }

   .left {
       float: left;
       margin-top: 20px;
       margin-left: 120px;
       width: 500px;
       font-family: arial;
       color: #0E385F;
   }

   .left h3 {
       margin-top: 10px;
       margin-bottom: 20px;

   }

   .h3 img {
       width: 200px;
       margin-right: 10px;
   }

   .right {
       float: right;
       font-family: arial;
       margin-top: 20px;
       margin-right: 175px;
   }

   .right p {

       margin-left: 05px;
   }

   .ipt {
       width: 185px;
       height: 35px;
       margin-top: 10px;
       margin-left: 05px;
       border-radius: 04px;
       border: none;
       border: 1px solid gray;
       padding: 10px;
       font-size: 20px;
   }

   .ipt2 {
       width: 390px;
       height: 35px;
       border-radius: 04px;
       padding-left: 10px;
       font-size: 20px;
       border: none;
       border: 1px solid gray;
       margin-left: 05px;
       margin-top: 10px;
   }

   .dropdown {
       width: 60px;
       height: 30px;
       margin-left: 05px;
   }

   .radi {
       margin-left: 06px;
   }

   .bdy {
       margin-top: 10px;
       font-family: arial;
       margin-left: 05px;
   }

   .right a {
       text-decoration: none;
       font-size: 12px;
   }

   #para {
       font-size: 10px;

   }

   .sub {
       width: 180px;
       height: 33px;
       margin-top: 01px;
       margin-left: 05px;
       margin-bottom: 07px;
       border-radius: 04px;
       border-style: 2px solid;
       border-width: 1px;
       border-color: green;
       padding: 10px;
       font-size: 18px;
       color: white;
       background-color: #5C9449;
       font-family: arial;
       opacity: 0.9;
       padding: 05px;
   }

   .sub:hover {
       opacity: 1;
   }

   #end {
       font-size: 13px;
   }

   .footer {
       width: 100%;
       height: 170px;
       background-color: #FFFFFF;
   }

   #ftr {
       margin-left: 153px;
       margin-top: 42px;
       font-size: 13px;
       letter-spacing: 3px;
   }

   #ftr a {
       text-decoration: none;
   }

   #ftr input {
       width: 20px;
       height: 15px;
   }

   .line {
       color: #DDDFE2;
       width: 900px;
       margin-left: 153px;
   }

   .end a {
       text-decoration: none;
       margin-left: 153px;
       font-size: 12px;
       margin-top: 03px;
   }

   .end2 a {
       text-decoration: none;
       margin-left: 153px;
       font-size: 12px;

   }

   .end3 a {
       text-decoration: none;
       margin-left: 153px;
       font-size: 12px;
   }

   .last {
       font-size: 11px;
       font-family: arial;
       color: #A0728A;
       margin-left: 153px;
   }