body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #2d2d2f;
}

.rrota {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(#14ffe9, #ffeb3b, #ff00ed);
    border-radius: 50%;
    position: relative;
    animation: animate 0.5 infinite linear;
}

@keyframes animate 
{
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}

.circle {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 50px;
    filter: blur(20%);
    display: flex;
}